* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
header {
    height: 60px; 
    width: 100vw; 
}
nav ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-left:180px ;
    width: 40px;
}
nav ul a {
    margin: 20px;
}
header div.image {
    float: right;
    display: flex;
    margin-right: 150px;
    margin-top: -25px;
}
div.cart img {
    width: 25px;
    height: 25px;
}
div.avatar img {
   width: 50px;
   height: 50px;
   margin: 25px;
   margin-top: -10px; 
}
div.left img {
    width: 440px;
    height: 400px;
    margin-top: 90px;
    margin-left: 230px;
    border-radius: 10px;
}
div.right {
   margin-left: 800px;
   margin-top: -340px;
}
div.one {
    color: orangered;
    margin-bottom: 10px;
    font-size: large;
}
h1 {
    font-size: 50px;
    margin-bottom: 15px;
}
div.two {
    font-size:20px ;
    margin-bottom: 15px;
}
.span1 {
    color: red;
    margin-left: 5px;
}
div.three {
    margin-top: 10px;
}
button.space {
    padding:10px 2px ;
    border: none;
}
button.space span {
    margin: 15px;
}
span.one {
    color: orangered;
}
span.two {
    color: black;
}
span.three {
    color: orangered;
}
div.edition {
    margin-top: 25px;
}
div.edition button {
    margin: 10px;
}
button.image {
    padding: 8px 30px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 4px;
}
div.product {
    display: flex;
    margin-left: 220px;
}
div.product img {
    margin: 12px;
    height: 90px;
    width: 90px;
    border-radius: 4px;
}

